<%- include('partials/header') %>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
  </div>
  <div style="height: auto;width: auto;" class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img" src="/images/img1.jpg" width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start" style="color: white;">
          <h1>Hanoi university of science and technology</h1>
          <%if(!locals.user) {%>
          <p>Login for more infomation.</p>
          <p><a class="btn btn-lg btn-warning" href="\login">Login</a></p>
          <%} else {%>
            <p>Hello, welcome back</p>
          <%}%>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img" src="/images/img2.jpg" width="100%" height="100%">

    </div>
    <div class="carousel-item">
      <img class="bd-placeholder-img" src="/images/img3.jpg" width="100%" height="100%">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\images\navia.jpg">
      <h2 class="fw-normal">Nguyễn Trung Hiếu ❤️ Ngô Đức Mạnh</h2>
      <p>Làm phần web + chức năng student với admin; </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\images\jing_yuan.jpg">
      <h2 class="fw-normal">Nguyễn Đức Anh</h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\images\navia.jpg">
      <h2 class="fw-normal">Vũ Hải Đăng</h2>
      <p>Làm thiết kế csdl + thêm trigger, index với chức năng headmaster.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="\images\navia.jpg">
      <h2 class="fw-normal">Nguyễn Đăng Trường Giang</h2>
      <p>Add dữ liệu, kiểm tra tính đúng đắn của các rules đề ra ở mục description với lo phần tutor, lecturer với form teacher.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/lecturer.png"></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
      <p class="lead">See your infomation (CPA, name, phone number, ...). Father, mother infomation. GPA and Conduct point each semester.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/student_1.png"></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/images/student_2.png"></img>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>

<%- include('partials/footer') %>